<header class="header">
  <div class="header-container container">
    <a href="./index.html"><img src="./images/logotype.svg" alt="logo" /></a>

    <button type="button" class="burger-menu" data-menu-open>
      <img src="./images/menu_burger.svg" alt="open mobile menu" />
    </button>
  </div>

  <div class="mobile-menu container" data-menu>
    <div class="mobile-menu-container">
      <button type="button" class="close-btn" data-menu-close>
        <img src="./images/close-mobile-menu-btn.svg" alt="cross" />
      </button>
      <nav class="mobile-menu-navigation">
        <ul class="marker mobile-menu-list">
          <li><a href="" class="mobile-menu-item">About</a></li>
          <li><a href="" class="mobile-menu-item">Services and prices</a></li>
          <li><a href="" class="mobile-menu-item">Barbers</a></li>
          <li><a href="" class="mobile-menu-item">Contacts</a></li>
        </ul>
      </nav>
      <a href="tel:+380441111111" class="tel-num">+38 044 111 11 11</a>
      <button type="button" class="booking-btn light">online-booking</button>
    </div>
  </div>
</header>
