:root {
  --primary-color: #303030;
  // --secondary-color: #434455;
  --accent-color: #FF6C00;
  // --bt-color: #4d5ae5;
  // --tertiary-color: #e7e9fc;
  // --light-color: #f4f4fd;
  --bcg-color-font: #ffffff;
  // --company-color: #8e8f99;
  --transition-duration--timing-f: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
  background-color: var(--bcg-color-font);

}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.marker {
  list-style: none;
}

button{
  cursor: pointer;

  padding: 0;
}
