.container {
  //width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  margin-left: auto;
  margin-right: auto;
  
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }