.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
}

.header-container {
  background-color: black;

  display: flex;
  align-items: center;
}

.logotype{
  fill: #fff;
}

.burger-menu {
  margin-left: auto;
  background-color: transparent;
  border: none;

  padding-top: 40px;
  padding-bottom: 40px;
}

//mobile-menu

.mobile-menu {
  position: fixed;
  //width: 337px;
  height: 100%;
  z-index: 999;
  top: 0;
  right: 0;

  padding-top: 48px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;

  background-color: var(--bcg-color-font);

  opacity: 0;
  transform: translateX(100%);
  //visibility: hidden;
  pointer-events: none;

  transition: var(--transition-duration--timing-f);
}

.mobile-menu-container {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 70px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;
  border: none;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateX(0);
  // visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  overflow-y: scroll;
}

.mobile-menu-navigation {
  margin-bottom: 64px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.mobile-menu-link {
  text-decoration: none;

  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;

  color: var(--primary-color);
  transition: var(--transition-duration--timing-f);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--accent-color);
}

.tel-num {
  text-decoration: none;
  display: block;

  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;

  color: var(--primary-color);

  margin-bottom: 24px;
  transition: var(--transition-duration--timing-f);
}

.tel-num:hover,
.tel-num:focus {
  color: var(--accent-color);
}

.booking-btn {
  border: 1px solid var(--accent-color);
  background-color: transparent;

  border-radius: 25px;

  width: 200px;
  padding: 12px 37px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;

  margin-bottom: 64px;
}

.booking-btn.light {
  color: var(--primary-color);
}

.booking-btn.dark {
  color: #fff;
}

.booking-btn.light:hover,
.booking-btn.light:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.mobile-media-list{
  display: flex;
  flex-direction: column;

  gap: 24px;

  list-style: none;
}

.mobile-media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;

  text-decoration: none;
  color: var(--primary-color);
  
  transition: var(--transition-duration--timing-f);
}

.mobile-media-link:hover,
.mobile-media-link:focus {
  color: var(--accent-color);
}

.menu{
 display: none;
}

.menu-list{
  display: flex;
}

.menu-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;

  text-decoration: none;
  color: #fff;
  
  transition: var(--transition-duration--timing-f);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.tel-num-dark{
  text-decoration: none;
  display: block;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;

  color: #fff;

  transition: var(--transition-duration--timing-f);
}


@media screen and (min-width: 480px) {
  .mobile-menu 
  {width: 337px;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu,
  .mobile-menu 
  {display: none;
  }

  .menu{
    display: block;
    display: flex;
  }

  .header{
    display: flex;
  }

  .menu-contacts{
display: flex;
flex-direction: column-reverse;

  }

  .tel-num-dark{
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;

  color: #fff;

  transition: var(--transition-duration--timing-f);
  }
}